:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-logo-color: #ffffff;
  --white-color: #ffffff;
  --white-footer-text-color: rgba (255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-background-color: #e5e5e5;
  --background-color: #2f303a;
  --background-color-two: #ffffff;
  --background-command: #f5f4fa;
  --border-color: rgba(238, 238, 238, 1);

  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --gallery-gap-magin: 30px;
  --background: #f5f4fa;
  --fill: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Остальной код */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Утилит */

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Link  |  Cursor | Flex */

.cursor:hover,
.cursor:focus,
.cursor:active {
  color: var(--accent-text-color);
  /* padding-top: 32px;
  padding-bottom: 32px; */

  cursor: pointer;
}

/* Body */
.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--background-color-two);
  color: var(--titel-text-color);
}

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

/* Logo */
.logo {
  display: block;
  margin: 0;

  font-family: Raleway;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  list-style: none;
  text-decoration: none;

  color: var(--logo-color);
}

.logo-accent {
  font-family: Raleway;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  list-style: none;

  color: var(--accent-text-color);
}

/* Header */

.header {
  border-bottom: 1px solid var(--primary-background-color);
}

/* Main-nav  */

.main-nav {
  display: flex;
  align-items: center;
}

/* Site-nav */

.site-nav {
  align-items: center;
  display: flex;
}

.site-nav > .logo {
  display: block;

  padding-top: 24px;
  padding-bottom: 25px;

  margin-right: 93px;
}

.site-nav-item {
  display: block;
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-border {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;
}
.current::after {
  position: absolute;
  content: "";

  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: var(--accent-text-color);

  display: block;
  bottom: 0%;
}

/* Auth-nav  */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav-item {
  display: block;
}

.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}

.auth-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.auth-icon {
  fill: currentColor;
  margin-right: 10px;
}

.auth-nav-link:hover,
.auth-nav-link:active {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

/* продолжение Header */

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--titel-text-color);
}

.current {
  color: var(--accent-text-color);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-color);

  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-titel {
  margin-bottom: 30px;

  width: 696px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Button */

.button {
  display: inline-block;
  margin: 0px;
  border-radius: 4px;
  border: 0px solid transparent;
  padding: 11px 34px;
  min-width: 70px;
  text-align: center;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-text-color);

  transition: background-color 250ms var(--timing-function);
}

.button.secondary {
  color: var(--titel-text-color);
  background-color: var(--background-command);
}

.secondary:hover,
.secondary:focus,
.secondary:active {
  color: var(--white-color);
  background-color: var(--accent-text-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Hidden */

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Content  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: flex;
  justify-content: space-evenly;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}

.features .features-item:not(:last-child) {
  margin-right: 30px;
}

.icon {
  display: flex;
  background-color: var(--background);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-size: cover;
}

.features-titel {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--titel-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.works-section {
  padding-top: 0px;
}

.works-titel {
  margin-bottom: 50px;

  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}

.works-list {
  display: flex;
}

.works-list .works-img:not(:last-child) {
  margin-right: 30px;
}

.works-thumb {
  position: relative;
}

.works-text {
  position: absolute;
  bottom: 0%;
  left: 0%;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Command */

.command-section {
  background-color: var(--background-command);
}

.command-titel {
  margin-bottom: 50px;
}

.command-list {
  display: flex;
}

.command-list .command-avatar:not(:last-child) {
  margin-right: 30px;
}

.command-box {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 10px;

  color: var(--titel-text-color);
}

.command-desc {
  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-item + .socials-item {
  margin-left: 10px;
}

.socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-text-color);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--white-color);
}

.socials-icon {
  width: 20px;
  height: 20px;
  fill: var(--fill);
}

/* Clients */

.clients-titel {
  margin-bottom: 50px;

  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-icon {
  fill: var(--fill);
}

.clients-link:hover,
.clients-link:focus {
  background-color: var(--white-color);
  border: 1px solid var(--accent-text-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-text-color);
}

.clients-icon {
  fill: var(--fill);
}

/* Backdrop | Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;

  min-height: 581px;
  min-width: 528px;

  border-radius: 4px;

  background-color: rgba(255, 255, 255, 1);
}

.modal-button {
  position: absolute;

  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Footer */

.footer-nav {
  padding: 60px 0px;
  background-color: var(--background-color);
}

.footer-container {
  align-items: baseline;
  display: flex;
}

.footer-nav-box {
  /* display: block;
  margin: 0px;
  margin-bottom: 20px; */
  margin-right: 70px;
}

.logo-footer {
  font-style: normal;
  font-family: Raleway;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--white-logo-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-list > li:not(:last-child) {
  margin-bottom: 9px;
}

.logo-accent-footer {
  font-style: normal;
  color: var(--accent-text-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-logo-color);
}
/* new */

.footer-socials-titel {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Section */

.section-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--titel-text-color);
}

.section-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* PAGE PORTFOLIO */
.items-list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;

  cursor: pointer;
}

.items-list .site-nav-item:not(:last-child) {
  margin-right: 8px;
}

/* Container  gallery */
.items-list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;

  cursor: pointer;
}

.items-list .site-nav-item:not(:last-child) {
  margin-right: 8px;
}

/* Container  gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;

  padding: 0px;
  margin: 0px;
  list-style: none;

  margin-right: calc(-1 * var(--gallery-gap-magin));
  margin-bottom: calc(-1 * var(--gallery-gap-magin));
}

.gallery > .gallery-item {
  flex-basis: calc(100% / 3 - var(--gallery-gap-magin));

  margin-right: var(--gallery-gap-magin);
  margin-bottom: var(--gallery-gap-magin);

  border: 1px solid #eeeeee;
}

.gallery > .gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-link {
  display: block;
}

.gallery-link:hover,
.gallery-link:active {
  box-shadow: var(--card-shadow);
}

.gallery-item:hover .gallery-top-text {
  transform: translateY(0);
}
.gallery-top-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery-top-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;

  padding-top: 62.58px;
  padding-bottom: 62.58px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--accent-text-color);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.gallery-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--titel-text-color);
}

.gallery-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.gallery-content {
  padding: 20px 24px 20px 24px;
}
