/* Footer */

.footer-nav {
  padding: 60px 0px;
  background-color: var(--background-color);
}

.footer-container {
  align-items: baseline;
  display: flex;
}

.footer-nav-box {
  flex-grow: 1;
  margin-right: 70px;
}

.logo-footer {
  font-style: normal;
  font-family: Raleway;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--white-logo-color);
}

.footer-list {
  margin-top: 20px;

  & > li:not(:last-child) {
    margin-bottom: 9px;
  }
}

.logo-accent-footer {
  font-style: normal;
  color: var(--accent-text-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-logo-color);
}

.footer-connection {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.footer-form {
  margin-left: 93px;
  display: flex;
  flex-direction: column;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--background-color);

  &::placeholder {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.button-footer {
  align-items: center;
  margin-left: 12px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  font-weight: 700;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: transparent;

  cursor: pointer;

  display: flex;
  justify-content: space-between;
  text-align: center;

  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.footer-box {
  display: flex;
}
/* new */

.footer-socials-titel {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 20px;
}
