.button {
  display: inline-block;
  margin: 0px;
  border-radius: 4px;
  border: 0px solid transparent;
  padding: 11px 34px;
  min-width: 70px;
  text-align: center;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.button__footer {
  align-items: center;
  margin-left: 12px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  font-weight: 700;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: transparent;

  cursor: pointer;

  display: flex;
  justify-content: space-between;
  text-align: center;

  color: var(--white-color);
  background-color: var(--accent-text-color);
}

/* portfolio - button  */
.portfolio-button {
  font-family: inherit;
  justify-content: center;

  padding: 6px 22px;

  cursor: pointer;
  font-weight: 500;
  min-width: 73px;
  font-size: 16px;
  line-height: 1.6;

  border-radius: 4px;
  border: transparent;

  color: var(--title-text-color);
  background-color: var(--background);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus,
  &:active {
    color: var(--white-color);
    background-color: var(--accent-text-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
