.section__command {
  background-color: var(--background-command);
}

.command {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.command__item {
  width: 100%;
  margin-bottom: 30px;

  .command &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;

    &:nth-child(2n + 1) {
      margin-left: 0px;

      &:nth-child(n + 2) {
        margin-bottom: 0px;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-evenly;
    flex-basis: calc(100% / 4 - 25px);
    margin-bottom: 0px;
    &:nth-child(2n + 1) {
      margin-left: 30px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.command__box {
  padding-top: 30px;
  padding-bottom: 24px;

  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.command__title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 10px;

  color: var(--titel-text-color);
}

.command__desc {
  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
