.current {
  &::after {
    position: absolute;
    content: "";

    width: 100%;
    height: 4px;

    border-radius: 4px;
    background-color: var(--accent-text-color);

    display: block;
    bottom: 0%;
  }
  & {
    color: var(--accent-text-color);
  }
}
