.modal {
  position: relative;

  min-height: 581px;
  min-width: 528px;

  border-radius: 4px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: var(--box-shadow);
  transition: transform 250ms var(--timing-function);
}

.form {
  padding: 40px 40px 40px 40px;
  display: block;
}

.modal__titel {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}

.modal__form {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal__comment {
  margin-bottom: 20px;
}

.inpyt-wrapper {
  position: relative;
  display: block;
}

.modal__input {
  width: 100%;
  min-height: 40px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  border-radius: 4px;

  outline: none;

  transition: border 250ms var(--timing-function);

  &:focus {
    border-color: var(--accent-text-color);
  }
  &:focus + .modal__icon {
    fill: var(--accent-text-color);
  }
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    display: block;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 30px;

  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__link {
  color: var(--accent-text-color);
}

.modal__checkbox span {
  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__user-text {
  &:checked + .modal__checkbox span {
    border-color: var(--accent-text-color);
    background-color: var(--accent-text-color);
    background-size: contain;
    background-origin: border-box;
    border-radius: 2px;
  }
}

.submit {
  text-align: center;
  cursor: pointer;
  min-width: 89px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: transparent;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 56px;
  padding-left: 55px;

  display: block;
  margin: 0 auto;

  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
