.section__works {
  padding-top: 0px;
}

.works {
  display: flex;
  & .works__item:not(:last-child) {
    margin-right: 30px;
  }
}

.works__thumb {
  position: relative;
}

.works__text {
  position: absolute;
  bottom: 0%;
  left: 0%;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
